{% load static %}
<!--Bootstrap CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!--Bootstrap JS-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- This is the header page-->
 <header>
    <div class="container container-md container-fluid">
        <div class="d-flex justify-content-betwwen align-items-center">
    <!-- app-title conatins in the below container-->
    <div class="app-title">
        <h2 class="text-center">New Appliance Services</h2>
    </div>
    <!--This div contains logo for the app-->
    <div class="logo">
        <!--Logo image-->
        <img class="logo" src="{% static 'img/logo.jpg' %}" alt="logo image">
        <!-- End of the logo container-->
    </div>
    <!-- End of the flexible container-->
    </div>
</div>
 </header>
 <!-- End of the header-->