{% extends 'base.html' %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="col-md-6 col-lg-5 p-4 shadow rounded bg-white">
      <h3 class="mb-4 text-center">Verification</h3>
  
      <form id="loginForm" novalidate method="post" action="{% url 'guest:verify-otp'  %}">
        {% csrf_token %}
        <p>The otp has been successfully sent to your registered email {{email}}</p>
        <div class="mb-3">
            <input type="hidden" name="cust_id" value="{{cust_id}}" readonly>
          <label for="otp" class="form-label">Enter OTP</label>
          <input type="text" class="form-control" id="otp" name="otp" pattern="\d{6}" required>
          <div class="invalid-feedback">Enter a valid 6-digit OTP.</div>
        </div>
  
        <!-- Submit -->
        <div class="d-grid">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
  
      </form>
    </div>
  </div>
  
{% endblock %}