{% extends 'administrator/base.html' %}
{% load static %}
{% block title %}
<title>Welcome</title>
{% endblock %}

{% block content %}
{% if messages %}
{% for msg in messages %}
<script>
  alert('{{msg}}');
</script>
{% endfor %}
{% endif %}
<div class="container min-vh-100 inner-div d-flex align-items-center justify-content-center">
  <div class="card shadow-lg border-0 w-100" style="max-width: 420px;">
    <div class="card-body p-4 p-sm-5 bg-white rounded">
      <h3 class="mb-4 text-center fw-bold">Edit Product</h3>
      <form method="post">
        {% csrf_token %}
        {% if products %}
        <input type="hidden" name="id" value="{{products.id}}"/>
        <div class="mb-3">
          <label for="product" class="form-label">Product Name</label>
          <input
            type="text"
            class="form-control p-3 rounded-3 shadow-sm"
            id="product"
            name="product"
            placeholder="Enter product name"
            required style="text-transform: capitalize;" value="{{products.product}}"
          >
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-warning btn-lg shadow-sm">Save</button>
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
